* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    display:flex;
    font-size: 50px;
    text-align:center;
    margin:100px auto;
    border-radius: 10px;
    background-color:peachpuff;
}