* {
    box-sizing: border-box;
    background-color: rgb(112, 199, 72);
}

body {
    margin: 0;
}

button {
    display:flex;
    flex-wrap: wrap;
    font-size: 50px;
    text-align:center;
    margin:100px auto;
    border-radius: 10px;
    background-color:peachpuff;
}

#chip-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chips {
    padding:50px;
    background-color:rgb(232, 129, 88);
    border-radius: 50%;
    border: 15px dashed black;
}