* {
    box-sizing: border-box;
    background-color: rgb(112, 199, 72);
    font-family: 'Roboto', sans-serif;;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 5vh 10vh 5vh 25vh 15vh;
    margin: 0;
    justify-items:center;

}

button {
    font-size: 50px;
    border-radius: 10px;
    background-color:peachpuff;
    
}

.card{
    font-size: 26px;
    align-items: center;
    align-items: center;
}

#dealer-container {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    place-items: center;
    justify-self: center;
    align-items: center;
}

#hit {
    grid-row: 3;
    grid-column: 1;
    justify-self: end;
    
}

#player-total {
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    justify-items:center;
    text-align: center;
}

#stay {
    grid-row: 3;
    grid-column:3;
    justify-self: start;
}


#chip-container {
    grid-row: 6;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    place-items: center;
    justify-self: center;

}

.chips {
    padding:50px;
    background-color:rgb(232, 129, 88);
    border-radius: 50%;
    border: 15px dashed black;
}

#player-container {
    grid-row:5;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    place-items: center;
    justify-self: center;
    
}

#dealer-total {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
}

#pot-total {
    grid-row: 3;
    grid-column: 2;
    align-self: center;
    justify-items: center;
}